@model DataLayer.Data.ClientEntity

@{
    ViewData["Title"] = "EditClient";
}

<div class="row">
    <h1>Modifica Dati Cliente</h1>
    <hr />
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="EditClient">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="custom-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="custom-form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="custom-form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="custom-form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="custom-form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="Province" class="control-label"></label>
                    <input asp-for="Province" class="custom-form-control" />
                    <span asp-validation-for="Province" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="FiscalCode" class="control-label"></label>
                    <input asp-for="FiscalCode" class="custom-form-control" />
                    <span asp-validation-for="FiscalCode" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="CellNumber" class="control-label"></label>
                    <input asp-for="CellNumber" class="custom-form-control" />
                    <span asp-validation-for="CellNumber" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="custom-form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <input type="submit" value="Save" class="custom-btn" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
