@model AccountModel
<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <hr />
    <form asp-action="Login">
        <div class="input-group custom-group">
            <label asp-for="Username" class="form-label"></label>
            <input asp-for="Username" class="custom-form-control" />
        </div>
        <div class="input-group custom-group">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="custom-form-control" />
        </div>
        <button>Accedi</button>
    </form>
</div>