@model DataLayer.Data.BookingEntity

@{
    ViewData["Title"] = "Booking";
}
<div class="row">
    <h1>Prenotazione Camere</h1>
    <hr />
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="Booking">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="custom-group">
                    <label asp-for="ClientFiscalCode" class="control-label"></label>
                    <input asp-for="ClientFiscalCode" class="custom-form-control" />
                    <span asp-validation-for="ClientFiscalCode" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="RoomNumber" class="control-label"></label>
                    <input asp-for="RoomNumber" class="custom-form-control" />
                    <span asp-validation-for="RoomNumber" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="BookingDate" class="control-label"></label>
                    <input asp-for="BookingDate" class="custom-form-control" />
                    <span asp-validation-for="BookingDate" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="NumeroProgressivoAnno" class="control-label"></label>
                    <input asp-for="NumeroProgressivoAnno" class="custom-form-control" />
                    <span asp-validation-for="NumeroProgressivoAnno" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="custom-form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="custom-form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="custom-form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="Caparra" class="control-label"></label>
                    <input asp-for="Caparra" class="custom-form-control" />
                    <span asp-validation-for="Caparra" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="Tax" class="control-label"></label>
                    <input asp-for="Tax" class="custom-form-control" />
                    <span asp-validation-for="Tax" class="text-danger"></span>
                </div>
                <div class="custom-group">
                    <label asp-for="TypeOfStay" class="control-label"></label>
                    <input asp-for="TypeOfStay" class="custom-form-control" />
                    <span asp-validation-for="TypeOfStay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="custom-btn" />
                </div>
            </form>
        </div>
    </div>
    <div class="mt-5">
        <a asp-controller="Home" asp-action="Index" class="custom-link-btn">Torna alla home</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
